In [2]:
import os
import pandas as pd

In [3]:
imgs = os.listdir('images')
labels = os.listdir('labels')
masks = os.listdir('mask')

In [4]:
len(imgs), len(labels), len(masks)

(874, 874, 874)

In [ ]:
df = []

for file in labels:
    with open('labels/' + file, 'r') as f:
        l = f.readline()

        label = l[0]
        filename = f.name.split('/')[-1][:-4]
        # print(label, filename)
        df.append([filename, label])

In [8]:
df = pd.DataFrame(df, columns=['filename', 'label'])
df.head()

                            filename label
0                      00_DSCN9645_2     3
1    00_20d5f703-IMG_20190430_213225     1
2                       109_DSCN9487     5
3                       137_DSCN0889     3
4                        46_DSCN9587     3
..                               ...   ...
869                     116_IMG_4433     0
870                      82_DSCN6927     5
871                      81_DSCN0848     3
872      00_a972b414-20221210_182005     3
873                      40_DSCN0536     3

[874 rows x 2 columns]

In [9]:
df.to_csv('data.csv', index=False)