In [22]:
import pandas as pd
import json
import os
import shutil

In [4]:
df = pd.read_csv('data.csv')

In [5]:
df.head()

                          filename  label
0                    00_DSCN9645_2      3
1  00_20d5f703-IMG_20190430_213225      1
2                     109_DSCN9487      5
3                     137_DSCN0889      3
4                      46_DSCN9587      3

In [6]:
split = [fn[:2] for fn in df['filename']]
len(split), len(set(split))

(874, 88)

In [7]:
def filter_sentences_by_prefix(sentences, prefix):
    filtered_sentences = []
    for sentence in sentences:
        if sentence.startswith(prefix):
            filtered_sentences.append(sentence)
    return filtered_sentences

di = {}
for prefix in sorted(set(split)):
    di[prefix] = filter_sentences_by_prefix(df['filename'].to_list(), prefix)

In [35]:
# for key in di.keys():
#     print(key, ":" , len(di[key]))

In [9]:
tag = []
for i in range(len(df)):
    file = df['filename'].iloc[i]
    if len(di[file[:2]]) >= 8:
        tag.append('train')
    else:
        tag.append('test')
# len(tag)

df['tag'] = tag
df.head()

                          filename  label    tag
0                    00_DSCN9645_2      3  train
1  00_20d5f703-IMG_20190430_213225      1  train
2                     109_DSCN9487      5  train
3                     137_DSCN0889      3  train
4                      46_DSCN9587      3  train

In [11]:
len(df[(df['tag'] == 'test')]), len(df[(df['tag'] == 'train')])

(197, 677)

In [12]:
df.to_csv('data2.csv', index=False)

In [13]:
import os

if not os.path.exists('images/train'):
    os.mkdir('images/train')

if not os.path.exists('images/test'):
    os.mkdir('images/test')

In [16]:
df.head()

,filename,label,tag,image_path
0,00_DSCN9645_2,3,train,data/images/00_DSCN9645_2.jpg
1,00_20d5f703-IMG_20190430_213225,1,train,data/images/00_20d5f703-IMG_20190430_213225.jpg
2,109_DSCN9487,5,train,data/images/109_DSCN9487.jpg
3,137_DSCN0889,3,train,data/images/137_DSCN0889.jpg
4,46_DSCN9587,3,train,data/images/46_DSCN9587.jpg

In [ ]:
for i in range(len(df)):
    shutil.copy(f"images/{df['filename'].iloc[i]}.jpg", f"images/{df['tag'].iloc[i]}/{df['filename'].iloc[i]}.jpg")
    df['image_path'].iloc[i] = f"data/images/{df['tag'].iloc[i]}/{df['filename'].iloc[i]}.jpg"

In [31]:
df.head()

,filename,label,tag,image_path
0,00_DSCN9645_2,3,train,data/images/train/00_DSCN9645_2.jpg
1,00_20d5f703-IMG_20190430_213225,1,train,data/images/train/00_20d5f703-IMG_20190430_213...
2,109_DSCN9487,5,train,data/images/train/109_DSCN9487.jpg
3,137_DSCN0889,3,train,data/images/train/137_DSCN0889.jpg
4,46_DSCN9587,3,train,data/images/train/46_DSCN9587.jpg

In [35]:
labeling ={0: 'Erythroplakia',
            1: 'Erythroleukoplakia',
            2: 'Keratosis',
            3: 'Leukoplakia',
            4: 'Tumor',
            5: 'Ulcer'}

labels = []
for lab in df['label']:
    labels.append(labeling[lab])

df['label'] = labels

In [32]:
df.to_csv('data2.csv', index=False)

In [37]:
json_data = df.to_json('data2.json', orient="records", lines=True)

In [38]:
data_train = df[(df['tag']=='train')]
data_test = df[(df['tag']=='test')]

data_train.to_json('data_train.json', orient="records", lines=True)
data_test.to_json('data_test.json', orient="records", lines=True)